
body {
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color;

  font-size: 100%;

  @include large-screens {
    font-size: 1.2em;
  }

  @include medium-screens {
    font-size: 1.2em;
  }

  @include small-screens {
    font-size: 1.2em;
  }

  @include tiny-screens {
    font-size: 1.2em;
  }
}

a {
  color: $color-alice;
  font-style: italic;
}

button {
  padding: 0.4em 0.5em;
  margin: 5px;
  background-color: $background-color-button;
  border: 1px solid $color-ruby;
  color: $color-ruby;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:hover {
    background-color: $color-ruby;
    border: 1px solid $color-ruby;
    color: $background-color-button;
  }

}

button.delete {
  @extend button;
}

button.save {
  @extend button;

  border: 1px solid $color-alice;
  color: $color-alice;

  &:hover {
    background-color: $color-alice;
    border: 1px solid $color-alice;
    color: $background-color-button;
  }
}

button.add {
  @extend button;

  border: 1px solid $color-jade;
  color: $color-jade;

  &:hover {
    background-color: $color-jade;
    border: 1px solid $color-jade;
    color: $background-color-button;
  }
}

input {
  border: 1px solid $color-input-border;
  padding: 0.4em 0.6em;
  margin: 5px;
  outline: none;

  &:focus {
    border-color: $color-alice;
  }
}

textarea {
  @extend input;
}