html {
  overflow-y: scroll;
}

html, body, #root, .app {
  height: 100%;
  margin: 0;
}

// h2 {
//     margin-top: 0;
// }

body {
  font-family: Roboto, sans-serif;
  background-color: $background-color;
  color: $text-color;

  font-size: 100%;

  @include large-screens {
    font-size: 1em;
  }

  @include medium-screens {
    font-size: 1em;
  }

  @include small-screens {
    font-size: 1em;
  }

  @include tiny-screens {
    font-size: 1em;
  }
}

a {
  color: $color-alice;
  // font-style: italic;
}

button {
  padding: 0.4em 0.5em;
  margin: 5px;
  background-color: $background-color-button;
  border: 1px solid $color-ruby;
  color: $color-ruby;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  border-radius: 3px;

  &:hover {
    background-color: $color-ruby;
    color: $background-color-button;
  }

  &:active {
    outline: none;
    background-color: lighten($color-ruby, 10%);
    border-color: lighten($color-ruby, 10%);
  }
}

button.delete {
  @extend button;
}

button.save {
  @extend button;

  border: 1px solid $color-alice;
  color: $color-alice;

  &:hover {
    background-color: $color-alice;
    color: $background-color-button;
  }

  &:active {
    outline: none;
    background-color: lighten($color-alice, 10%);
    border-color: lighten($color-alice, 10%);
  }
}

button.add {
  @extend button;

  border: 1px solid $color-jade;
  color: $color-jade;

  &:hover {
    background-color: $color-jade;
    color: $background-color-button;
  }

  &:active {
    background-color: lighten($color-jade, 10%);
    border-color: lighten($color-jade, 10%);
  }

  &:disabled {
    cursor: default;
    border-color: #888;
    background-color: $background-color;
    color: #888;

    &:hover {
      background-color: $background-color;
      color: #888;
    }
  }
}

input {
  max-width: $content-width;
  border: 1px solid $color-input-border;
  padding: 0.4em 0.6em;
  margin: 5px;
  outline: none;

  &:focus {
    border-color: $color-alice;
  }
}

textarea {
  @extend input;
}
