
// ===== COLORS =====
$color1: rgba(165, 208, 168, 1);
$color2: rgba(140, 173, 167, 1);
$text-color: #373D3F;
$color4: rgba(183, 153, 13, 1);
$background-color: #ECF0F1;
$background-color-button: #FFFFFF;
$background-color-note: #FDE3A7;
$color-alice: #107896;
$color-ruby: #C02F1D;
$color-jade: #00B16A;

// ===== SIZES =====
$content-width: 960px;