
.app {
  box-sizing: border-box;
  max-width: $content-width;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
}

@import "./auth-panel";
@import "./landing-page";
@import "./list-page";
@import "./note-page";
@import "./footer";

