
.app {
  box-sizing: border-box;
  max-width: $content-width;

  display: flex;
  flex-wrap: wrap;
  
  min-height: 100vh;
  // height: 100%;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  // overflow-y: auto;

  .content {
    flex: 1 0 auto; 

    &::after {
      content: '\00a0'; /* &nbsp; */
      display: block;
      margin-top: 1.5em;
      height: 0px;
      visibility: hidden;
    }
  }
}

@import "./auth-panel";
@import "./landing-page";
@import "./list-page";
@import "./note-page";

