
.app {
  // box-sizing: border-box;

  // display: flex;
  // flex-wrap: wrap;
  
  // min-height: 100vh;
  // height: 100%;
  // flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  // overflow-y: auto;

  .content {
    // flex: 1 0 auto; 

    // &::after {
    //   content: '\00a0'; /* &nbsp; */
    //   display: block;
    //   margin-top: 1.5em;
    //   height: 0px;
    //   visibility: hidden;
    // }
    max-width: $content-width;

    margin-left: auto;
    margin-right: auto;

    min-height: 100%;
    margin-bottom: -50px;

    .push {
      height: 50px;
    }
  }
}

@import "./auth-panel";
@import "./landing-page";
@import "./list-page";
@import "./note-page";
@import "./footer";

