.list-page {

  .search-add-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .search-add-panel-input {
      // height: 1em;
    }

    .add {
      // margin-left: auto;
    }
  }

  .list-page-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}



@import "./list_page_components/list-note-item";
@import "./list_page_components/load-more-button";
