.note-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  // margin-left: auto;
  // margin-right: auto;

  .note-page-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;

    height: 2em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // max-width: 100%;
    // word-wrap: normal;
    // white-space: initial;
  }

  .note-page-info {
    padding: 10px;
    margin-left: auto;
  }

  .note-page-textarea {
    resize: none;
  }

  .save-delete-buttons {
    margin-left: auto;
  }
}

@import "./note_page_components/note-textarea";
@import "./note_page_components/is-secret-checkbox";
