.is-secret-checkbox {
  // margin-left: auto;
  align-self: center;
}

input[type=checkbox] {
  display:none;
} /* to hide the checkbox itself */

input[type=checkbox] + label:before {
  font-family: 'FontAwesome';
  display: inline-block;
  // font-size: 1.5em;
}

input[type=checkbox] + label:before {
  content: "\f096";
} /* unchecked icon */

input[type=checkbox] + label:before {
  letter-spacing: 10px;
} /* space between checkbox and label */

input[type=checkbox]:checked + label:before {
  content: "\f046";
} /* checked icon */

input[type=checkbox]:checked + label:before {
  letter-spacing: 8px;
} /* allow space for check mark */
